.pfpHead {
  background-color: #318dbf;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  height: 532.8px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
}

.headName {
  display: flex;
  align-self: center;
  justify-content: center;
  margin-top: -55px;
  margin-bottom: 6px;
}


@media only screen and (min-width: 1080px) {
   
  .pfpHead {
    height: 398px;
    display: flex;
    float: left;
    width: 215%;
    align-items: center;
    z-index: -1;
    margin-left: 36px;
    margin-right: -29px;
    max-width: 25%;
  }
}
