.pfpHead {
  background-color: #318dbf;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png");
  height: 350px;
  width: 120%;
  margin-top: -40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 0;
}

.headName {
  display: flex;
  align-self: center;
  justify-content: center;
  z-index: 0;
  padding-top: 4px;
  color: white;
}

div.headName {
  font-size: 1.1em;
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /*! margin-bottom: 12px; */
  margin-top: -46px;
}

.feature {
  display: flex;
  position: relative;
  height: 275px;
}

div.pfpImg {
  scale: 66%;
  margin-top: 2.4vh;
}

@media only screen and (min-width: 1080px) {
  .pfpHead {
    height: 250px;
    display: flex;
    float: left;
    flex-direction: column;
    justify-content: center;
    width: 215%;
    align-items: center;
    z-index: 0;
    margin-top: 180px;
    margin-left: 24px;
    margin-right: -38px;
    max-width: 25vw;

  }

  .headName {
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: -80px;
    margin-bottom: 0vh;
    z-index: 0;
    color: black;
  }

  .feature {
    display: flex;
    position: relative;
    height: 100%;
    margin-bottom: 90px;
    padding-bottom: 60px;
  }

  div.headName {
    font-size: 1em;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 810px) {

  .pfpHead {
    height: 315px;
  }
}