
form {
  display: flex;
  flex-direction: column;

}

form div {
  display: flex;
  height: 40px;
  width: 100%;
  justify-content: space-between;
  font-family: "Bungee", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px; 
}

form textarea {
  border: none;
  border-bottom: 3px solid #00000050;
  outline: none;
  background: transparent;
  font-weight: bold;
  padding: 0;
  line-height: .85;
}

form div button { 
  box-sizing: border-box;
  background-color: #4056A1;
  color: white;
  padding: 6px 12px;

}

.over-limit {
  color: red;
}

